{% extends "base.html" %}
{% block title %}Sign up{% endblock %}
{% block content %}
<div class="panel">
  <h2>Create account</h2>
  <form method="post" class="auth-form">
    {% csrf_token %}
    <div class="input-group">
        <div class="username-row">
            <div class="form-floating mb-3">
                {{ form.username }}
                <label for="{{ form.username.id_for_label }}">Username</label>
            </div>

            <div class="row-1">
                <label for="{{ form.user_type.id_for_label }}">I am a:</label>
                {{ form.user_type }}
            </div>
        </div>
        
        <div class="username-row" style="justify-content: center;">
            <div class="row-1" id="trainer-focus-field" style="display:none;">
                <label for="{{ form.trainer_focus.id_for_label }}">Focus:</label>
                {{ form.trainer_focus}}
            </div>
            <div class="row-1" id="dancer-classes-field" style="display:none;">
                <label for="{{ form.dancer_class_stt.id_for_label }}">STT:</label>
                {{ form.dancer_class_stt }}
            </div>
            <div class="row-1" id="dancer-classes-lat-field" style="display:none;">
                <label for="{{ form.dancer_class_lat.id_for_label }}">LAT:</label>
                {{ form.dancer_class_lat }}
            </div>
        </div>

        <div class="form-floating mb-3">
            {{ form.password1 }}
            <label for="{{ form.password1.id_for_label }}">Password</label>
        </div>

        <div class="form-floating mb-3">
            {{ form.password2 }}
            <label for="{{ form.password2.id_for_label }}">Confirm Password</label>
        </div>
    </div>
    
    <button type="submit">Sign up</button>
    <p>Already have an account? <a href="{% url 'login' %}">Log in</a></p>
</form>
  
</div>

<script>
    const userTypeSelect = document.getElementById('{{ form.user_type.id_for_label }}');
    const trainerFocusField = document.getElementById('trainer-focus-field');
    const dancerSttField = document.getElementById('dancer-classes-field');
    const dancerLatField = document.getElementById('dancer-classes-lat-field');

    function toggleFields() {
        const selectedValue = userTypeSelect.value;
        
        if (selectedValue === 'trainer') {
            trainerFocusField.style.display = 'block';
            dancerSttField.style.display = 'none';
            dancerLatField.style.display = 'none';
        } else if (selectedValue === 'dancer') {
            trainerFocusField.style.display = 'none';
            dancerSttField.style.display = 'block';
            dancerLatField.style.display = 'block';
        } else {
            trainerFocusField.style.display = 'none';
            dancerSttField.style.display = 'none';
            dancerLatField.style.display = 'none';
        }
    }

    userTypeSelect.addEventListener('change', toggleFields);
    // Call on page load to set initial state
    toggleFields();
</script>
{% endblock %}